@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body{
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
}

/* formulário */
.text,
thead tr th{
    color: #4a67df;
    font-weight: 700;
}
.adicionar,
.limpar,
.deletar,
.editar{
    color: #fff;
    background: #4a67df;
    padding: .1rem .5rem;
}
.adicionar:hover,
.limpar:hover,
.deletar:hover,
.editar:hover{
    color: #7bf3eb;
}

.deletar:active{
   color: red;
}

.topo {
    background: #2fd6cb;
    border-bottom: 2px solid #4a67df;
}

.logo{
    color: #fff!important;
    font-weight: 700;
}

a.nav-link {
    color: #ffff!important;
}

a.nav-link:hover{
    color: #4a67df!important;
}

/* .footer {
    padding: 8rem;
    padding-bottom: 0;
    font-size: 12px;
    background: #fff;
    border-top: 2px solid #4a67df;
}

.footer p {
    margin: 0;
} */